{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}

<style>
    #calendar {
        width: 100%;
        height: auto;
    }
</style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="container">
            <h1>Calendar</h1>
            <pre>
                {{ dump(data) }}
            </pre>
            <pre>
                {{ dump(commercial) }}
            </pre>
            <pre>
                {{ dump(user) }}
            </pre>
            <pre>
                {{ dump(push) }}
            </pre>
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}


<script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        locale : 'fr',
        timeZone : 'Europe/Paris',
        headerToolbar : {
            start: 'prev, next, today',
            center: 'title',
            end: 'dayGridMonth, timeGridWeek'
        },
        events: {{push|raw}}
      });
      calendar.render();
    });

  </script>

{% endblock %}